/* Модальное окно */
@media screen and (min-width: 481px) {
    .modal {
        width: 450px;
       // height: 609px;
    }
    .form-mod {
         padding: 40px;
         color: $title-text-color;
         font-size: 14px;
         line-height: 1.14;
         letter-spacing: 0.01em;
       
         & .form-field {
             position: relative;
             display: block;
         }
         & .form-field:nth-child(-n + 4) {
             margin-bottom: 28px;
         }
         & .form-label {
             position: absolute;
             top: 50%;
             left: 42px;
             transform: translateY(-50%);
             
             transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
                 color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                 font-size 250ms cubic-bezier(0.4, 0, 0.2, 1);
         }
         & .form-input { 
             width: 100%;
             margin: 0;
             padding: 12px 42px;
             border: 1px solid rgba(33, 33, 33, 0.2);
             border-radius: 4px;
             
             transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
         }
     }
}
@media screen and (max-width: 480px) {
    .modal {
    position: absolute;
    top: 60%;
    left: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 95%;
    padding: 40px;
    overflow: scroll;
}
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: scroll;
    opacity: 1;
  
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &.is-hidden {
            opacity: 0;
            pointer-events: none;
            & .modal {
                transform: translate(-50%, -50%) scale(1.1);
            }
        }
    }
.modal {
    position: absolute;
    top: 60%;
    left: 50%;
    
    //margin-top: 93px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2),
                0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    background-color: $primary-white-color;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.form-title {
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-align: center;
    color: $primary-text-color;
}
.form-mod {
   // padding: 40px;
    color: $title-text-color;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
  
    & .form-field {
        position: relative;
        display: block;
    }
    & .form-field:nth-child(-n + 4) {
        margin-bottom: 28px;
    }
    & .form-label {
        position: absolute;
        top: 50%;
        left: 42px;
        transform: translateY(-50%);
        
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
            color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            font-size 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    & .form-input { 
        width: 100%;
        margin: 0;
        padding: 12px 42px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}
.form-field.text-area {
    margin-bottom: 20px;
}
.form-input.comment {
    display: block;
    resize: none;
    padding: 12px 16px;
}
.form-mod .comment-label {
    position: absolute;
    top: 12px;
    left: 16px;
  
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      font-size 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-icon {
    position: absolute;
    top: 50%;
    left: 16px;
  
    transform: translateY(-50%);
  
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field:focus-within > .form-icon {
    fill: $accent-text-color;
}
.form-field:focus-within > .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  transform: translateY(-38px) translateX(-26px);
  color: $accent-text-color;
  font-size: 12px;
}
.form-field:focus-within > .comment-label,
.form-input:not(:placeholder-shown) + .comment-label {
  transform: translateY(-28px);
  color: $accent-text-color;
  font-size: 12px;
}  
.form-input:focus {
    outline: none;
    border-color: $accent-text-color;
}
.agreement {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

    &-text {
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
    }
    &-link {
        color: $accent-text-color;
    }
}
.checkbox {
    margin-right: 8px;

    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.icon-check {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 8px;
    border-radius: 2px;
    border: 2px solid $primary-text-color;
  
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox:checked + .icon-check {
    border-color: $accent-text-color;
    background-color: $accent-text-color;
    border-radius: 2px;
    background-image: url("../img/icon-check.svg");
    background-size: contain;
    background-origin: border-box;
}
.button-send {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.button-close {
    position: absolute;
    top: 8px;
    right: 8px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    background-color: $primary-white-color;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
  
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      fill: $accent-text-color;
    } 
}