.feature {
    padding-top: 94px;
    padding-bottom: 94px;
    /* outline: 2px solid tomato;*/

    & li.picture:not(:last-child) {
            margin-right: 30px;
            list-style: none;
    }
        & li.picture {
        position: relative;
            margin-right: 30px;
            width: calc((100% - 60px) / 3);
            text-align: center;
            z-index: -1;
        
        }
        
}
@media screen and (max-width: 1199px){
    .feature {
        display: none;
    }
}
h2.task {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 50px;
}
.list.features {
    display: flex;
    margin: 0px;
    padding: 0px;
    list-style: none;
}
h3 {
    margin-top: 0;
    margin-bottom: 0;

    &.adds {
        color: $primary-white-color;
        background: rgba(47, 48, 58, 0.8);
        border-radius: 0px 0px 4px 4px;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
       
        position: absolute;
        width: 100%;
        height: 70px;
        bottom: 0;
        margin: 0;
        padding: 27px;
    }
}
