html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
body, button {
    background-color: $primary-white-color;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}
.container {
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    /* outline: 2px solid goldenrod; */
    @media screen and (min-width: 480px) {
        width: 480px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
    }

    @media screen and (min-width: 1200px) {
        width: 1200px;
    }

}
/* убрали точки у ссылок */
.list a {
    text-decoration: none;
}
.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.social {
    list-style: none;
}
